<div class="toolbar" color="primary">
  <div class="headerButtons">
    <button mat-button color="accent" routerLink="/home" (click)="scrollToTop()">Hjem</button>
    <button mat-button color="accent" routerLink="/home" (click)="scrollToAboutMe()">Om meg</button>
    <button mat-button color="accent" routerLink="/home" (click)="scrollToStyling()">Styling</button>
    <button mat-button color="accent" routerLink="/home" (click)="scrollToEmail()">Kontakt</button>
    <button mat-button color="accent" routerLink="/school-project">Skole prosjekt</button>
    <button mat-button color="accent" routerLink="/work">Arbeid</button>
  </div>
</div>

<app-social></app-social>

<router-outlet></router-outlet>
