section#designaImages {
  width: 80%;
  margin: 8rem auto 3rem auto;
}

div img.ng-thumb[_ngcontent-c5] {
    height: 100px !important;
}

.more {
  position: absolute;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100px;
  padding-left: 0px;
  padding-top: 2px;
  text-align: center;
}

.list-img {
  height: 100px;
  margin-top: 2px;
  cursor: pointer;
}

.float-left {
  float: left;
  margin-right: 5px;
  color: #ffffff;
}

.float-left a:hover {
  color: red;
  cursor: pointer;
}
