<img class="headerImage" src="/assets/JPG/interior-logo.png" alt="headerImage">

<div class="aboutMeContainer">
  <img class="profilePicture" src="/assets/JPG/profilbilde.jpg" alt="profile picture">
  <div class="aboutMeCardContainer">
    <mat-card class="aboutMeCard">
      <h1 class="aboutMeHeader">About me</h1>
      <p class="aboutMePara">hello</p>
      <p class="aboutMePara">hello</p>
      <p class="aboutMePara">hello</p>
    </mat-card>
  </div>
</div>

<mat-grid-list class="imageList" cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_soverom.jpg" alt="sofa gruppe">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_stue.jpg" alt="sofa gruppe">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_bad.jpg" alt="puff">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_soverom2.jpg" alt="puff">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_2.jpg" alt="sofa gruppe">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_terasse.jpg" alt="sofa gruppe">
  </mat-grid-tile>

  <mat-grid-tile>
      <img class="imageInList" src="/assets/JPG/Styling/styling_soverom3.jpg" alt="puff">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="imageInList" src="/assets/JPG/Styling/styling_pynt.jpg" alt="sofa gruppe">
  </mat-grid-tile>

  <mat-grid-tile>
      <img class="imageInList" src="/assets/JPG/Styling/styling_stue4.jpg" alt="puff">
  </mat-grid-tile>
</mat-grid-list>

<div class="emailContainer">
  <div class="mailForm">
    <form #f="ngForm" (ngSubmit)="send(f)">
      <h2 class="mailHeader">
        <i class="material-icons">mail_outline</i>
        Send meg en email
      </h2>

      <div class="inputContainer">
        <mat-form-field class="from">
          <input matInput type="email" name="from" placeholder="Fra" ngModel required>
        </mat-form-field>
        <mat-form-field class="subject">
          <input matInput type="text" name="subject" placeholder="Emne" ngModel required>
        </mat-form-field>
        <mat-form-field class="message">
          <textarea matInput name="message" rows="7" cols="400" placeholder="Email tekst" ngModel required></textarea>
        </mat-form-field>
        <button mat-raised-button class="sendButton">Send</button>
      </div>
    </form>
  </div>
  <a class="emailPic" target="_blank" href="https://www.freepik.com/free-photo/blue-wall-with-a-red-sofa_999858.htm">Picture by Freepik</a>
</div>
