.headerImage {
  display: block;
  margin-top: 5rem;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

.aboutMeCardContainer {
  display: inline;
  float: right;
  width: 60vw;
  height: 95vh;
  margin: 0;
}

.aboutMeCard {
  width: 40vw;
  height: 60vh;
  margin: 8rem auto;
  opacity: 0.8;
}

.aboutMeHeader {
  padding: 3rem;
  width: 10rem;
}

.aboutMePara {
  margin-left: 5rem;
  margin-top: 2rem;
}

.profilePicture {
  display: inline;
  width: 40vw;
  height: 95vh;
}

.aboutMeContainer {
    display: inline-block;
    background-color: gainsboro;
    background-size: cover;
    background-image: url('/assets/JPG/Styling/styling_soverom5.jpg');
    width: 100vw;
    height: 95vh;
}

.imageList {
  display: inline-block;
  width: 100vw;
  height: 0vh;
}

.imageInList {
  width: 33.33vw;
  height: 33.33vh;
  z-index: -1;
}

.emailContainer {
  display: inline-block;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: gainsboro;
  background-image: url('/assets/JPG/email-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mailHeader {
  margin: 6rem auto 2rem auto;
  width: 15rem;
  padding: 0.2rem;
}

.from, .subject, .message, .sendButton {
  display: block;
  margin: 2rem auto;
}

.from, .subject, .message {
  width: 30rem;
}

.inputContainer {
  margin: auto;
  width: 50vw;
}

.material-icons {
  vertical-align: middle;
}

a.emailPic {
  display: block;
  margin-top: 10rem;
  margin-left: 2rem;
}
